*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
build
gradle
test
settings.gradle.idea/misc.xml
/.idea
.idea/misc.xml
*.idea
/app/build/outputs
/release
